body {
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #34495e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
}

#dropZone {
  border: 2px dashed #00B6FF;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  position: relative;
}

.upload-icon {
  font-size: 50px;
  color: #00B6FF;
  margin-bottom: 10px;
}

#dropZone:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#dropZone p {
  margin: 0;
  font-size: 14px;
  color: #ddd;
}

#fileInput {
  display: none;
}

textarea {
  width: 96%;
  height: 120px;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background: #1abc9c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background: #16a085;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 99%;
  border: none;
  background: #e67e22;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #d35400;
}